{% extends "header.html" %}
{% block head %}
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block body %}
    <h1>Что такое виртуальная лаборатория?</h1>
    <p>Виртуальная лаборатория представляет собой программно-аппаратный комплекс, позволяющий проводить опыты при полном отсутствии таковой.
        Все процессы моделируются при помощи компьютера.</p>
    <hr>
    <h1>Преимущества данного сервиса:</h1>
    <ul>
        <li><h2>Отсутствие необходимости приобретения дорогостоящего оборудования и реактивов.</h2></li>
        <p>Из-за недостаточного финансирования во многих лабораториях установлено старое оборудование, которое может искажать результаты опытов и
            служить потенциальным источником опасности для обучающихся. Разумеется, компьютерное оборудование и программное обеспечение также стоит
            недешево, однако универсальность компьютерной техники и ее широкая распространенность компенсируют этот недостаток.</p>
        <li><h2>
            Возможность моделирования процессов, протекание которых принципиально невозможно в лабораторных условиях.
        </h2></li>
        <li><h2>
            Наглядная визуализация на экране компьютера.
        </h2></li>
        <p>
            Современные компьютерные технологии позволят пронаблюдать процессы, трудноразличимые в реальных условиях без применения дополнительной
            техники, например, из-за малых размеров наблюдаемых частиц.
        </p>
        <li><h2>
            Возможность проникновения в тонкости процессов и наблюдения происходящего в другом масштабе времени, что актуально для процессов,
            протекающих за доли секунды или, напротив, длящихся в течение нескольких лет.
        </h2></li>
        <li><h2>
            Безопасность.
        </h2></li>
        <p>Безопасность является немаловажным плюсом использования виртуальных лабораторий в случаях, где идет работа, например, с высокими
            напряжениями.</p>
        <li><h2>В связи с тем, что управлением виртуального процесса занимается компьютер, появляется возможность быстрого проведения серии опытов с
            различными значениями входных параметров, что часто необходимо для определения зависимостей выходных параметров от входных.</h2></li>
        <li><h2>Некоторые работы требуют последующей обработки достаточно больших массивов полученных цифровых данных, которые выполняются на
            компьютере после проведения серии экспериментов.</h2></li>
        <p>Слабым местом в этой последовательности действий при использовании реальной лаборатории является ввод полученной информации в компьютер. В
            виртуальной лаборатории этот шаг отсутствует, так как данные могут заноситься в электронную таблицу результатов непосредственно при
            выполнении опытов экспериментатором или автоматически. Таким образом, экономится время и значительно уменьшается процент возможных
            ошибок.</p>
        <li><h2>И, наконец, отдельное и важное преимущество заключается в возможности использования виртуальной лаборатории в дистанционном обучении,
            когда в принципе отсутствует возможность работы в лабораториях университета.</h2></li>
    </ul>
{% endblock %}