{% extends "header.html" %}
{% block head %}
<title>Кинематика</title>
<link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='kinematics.css') }}">
{% endblock %}
{% block content %}
    <h1>Школьная программа:</h1>
    <div id="namesOfColumns">
        <div class="row">
            <div class="column">Теория</div>
            <div class="column">Практика</div>
        </div>
    </div>
    <div class="row">
        <div class="column"><a href="kinematics/basicsOfSi">1) Система СИ</a></div>
        <div class="column"></div>
    </div>
    <h1>Университетская программа:</h1>
{% endblock %}