body {
    font-family: "SF Pro Rounded";
    text-align: center;
}
h1 {
    text-align: center;
}
#back>a {
    text-decoration: none;
    float: left;
    padding-left: 10px;
}
p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
ul li {
    text-align: left;
}