body {
    font-family: "SF Pro Rounded";
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 5px;
}
th {
    font-weight: bold;
    font-size: large;
}
a {
    text-decoration: none;
}