{% extends "header.html" %}
{% block head %}
    <title>Средняя скорость</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='kinematics/averageSpeed.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block content %}
    <div id="back"><a href="/kinematics">< Назад</a></div>
    <h1>Средняя скорость</h1>
    <hr>
    <p>
        <u>Скорость</u> – векторная величина, характеризующая быстроту перемещения тела в пространстве. Скорость бывает средней и мгновенной.
        Мгновенная скорость описывает движение в данный конкретный момент времени в данной конкретной точке пространства, а средняя скорость
        характеризует все движение в целом, в общем, не описывая подробности движения на каждом конкретном участке.
        <br>
        <br>
        <u>Средняя скорость пути</u> – это отношение всего пути ко всему времени движения:
    </p>
    $$\upsilon_{ср.\hspace{5px}пути}=\frac{L}{t}=\frac{L_1+L_2+L_3+...}{t_1+t_2+t_3+...}$$
    <p>
        где: <i>L</i> – весь путь, который прошло тело, <i>t</i> – все время движения.
        <br>
        <br>
        <u>Средняя скорость перемещения</u> – это отношение всего перемещения ко всему времени движения:
    </p>
    $$|\vec{\upsilon}_{ср.\hspace{5px}перемещения}|=\frac{|\vec{S}_{полн}|}{t_{полн}}$$
    <p>
        Эта величина направлена так же, как и полное перемещение тела (<i>то есть из начальной точки движения в конечную точку</i>). При этом не
        забывайте, что полное перемещение не всегда равно алгебраической сумме перемещений на определённых этапах движения. Вектор полного
        перемещения равен векторной сумме перемещений на отдельных этапах движения.
        <br>
    </p>
    <h3>Важно!</h3>
    <ul>
        <li>
            При решении задач по кинематике не совершайте очень распространенную ошибку. Средняя скорость, как правило, не равна среднему
            арифметическому скоростей тела на каждом этапе движения. Среднее арифметическое получается только в некоторых частных случаях.
        </li>
        <li>
            И уж тем более средняя скорость не равна одной из скоростей, с которыми двигалось тело в процессе движения, даже если эта скорость
            имела примерно промежуточное значение относительно других скоростей, с которыми двигалось тело.
        </li>
    </ul>
{% endblock %}