{% extends "header.html" %}
{% block head %}
<title>Равноускоренное прямолинейное движение</title>
<link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='kinematics/equidistantStraightMovement.css') }}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block content %}
    <div id="back"><a href="/kinematics">< Назад</a></div>
    <h1>Равноускоренное прямолинейное движение</h1>
    <hr>
    <p>
        <u>Ускорение</u> – векторная физическая величина, определяющая быстроту изменения скорости тела. Ускорением тела называют отношение изменения
        скорости к промежутку времени, в течение которого происходило изменение скорости:
    </p>
    $$a=\frac{\Delta \upsilon}{\Delta t}=\frac{\upsilon -\upsilon_0}{t}$$
    <p>
        где: <i>v0</i> – начальная скорость тела, <i>v</i> – конечная скорость тела (<i>то есть спустя промежуток времени t</i>).
        <br>
        <br>
        Далее, если иное не указано в условии задачи, мы считаем, что если тело движется с ускорением, то это ускорение остается постоянным. Такое
        движение тела называется <u>равноускоренным</u> (<i>или равнопеременным</i>). При равноускоренном движении скорость тела изменяется на
        одинаковую величину за любые равные промежутки времени.
        <br>
        <br>
        Равноускоренное движение бывает собственно ускоренным, когда тело увеличивает скорость движения, и замедленным, когда скорость уменьшается. Для
        простоты решения задач удобно для замедленного движения брать ускорение со знаком «<i>–</i>».
        <br>
        <br>
        Из предыдущей формулы, следует другая более распространённая формула, описывающая <u>изменение скорости со временем</u> при равноускоренном
        движении:
    </p>
    $$\upsilon=\upsilon_0+at$$
    <p><u>Перемещение (<i>но не путь</i>>)</u> при равноускоренном движении рассчитывается по формулам:</p>
    $$S=\upsilon_0t+\frac{at^2}{2}$$$$S=\frac{\upsilon^2-\upsilon^2_2}{2a}$$$$S=\upsilon{ср}t=\frac{\upsilon -\upsilon_0}{2} \cdot t$$
{% endblock %}