{% extends "header.html" %}
{% block head %}
<title>Путь и перемещение</title>
<link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='kinematics/pathAndMovement.css') }}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block content %}
    <div id="back"><a href="/kinematics">< Назад</a></div>
    <h1>Путь и перемещение</h1>
    <hr>
    <p>
        <u>Механическим движением</u> тела называют изменение его положения в пространстве относительно других тел с течением времени.
        <br>
        <br>
        Всякое тело имеет определенные размеры. Однако, во многих задачах механики нет необходимости указывать положения отдельных частей тела. Если
        размеры тела малы по сравнению с расстояниями до других тел, то данное тело можно считать <u>материальной точкой</u>. Так при движении
        автомобиля на большие расстояния можно пренебречь его длиной, так как длина автомобиля мала по сравнению с расстояниями, которое он проходит.
        <br>
        <br>
        Интуитивно понятно, что характеристики движения (<i>скорость, траектория и т.д.</i>) зависят от того, откуда мы на него смотрим. Поэтому для
        описания движения вводится понятие системы отсчета. <u>Система отсчета (СО)</u> – совокупность тела отсчета (<i>оно считается абсолютно
        твердым</i>), привязанной к нему системой координат, линейки (<i>прибора, измеряющего расстояния</i>), часов и синхронизатора времени.
        <br>
        <br>
        Перемещаясь с течением времени из одной точки в другую, тело (<i>материальная точка</i>) описывает в данной СО некоторую линию, которую
        называют <u>траекторией движения тела</u>.
        <br>
        <br>
        <u>Перемещением тела</u> называют направленный отрезок прямой, соединяющий начальное положение тела с его конечным положением. Перемещение
        есть векторная величина. Перемещение может в процессе движения увеличиваться, уменьшаться и становиться равным нулю.
        <br>
        <br>
        Пройденный <u>путь</u> равен длине траектории, пройденной телом за некоторое время. Путь – скалярная величина. Путь не может уменьшаться.
        Путь только возрастает либо остается постоянным (<i>если тело не движется</i>). При движении тела по криволинейной траектории модуль
        (<i>длина</i>) вектора перемещения всегда меньше пройденного пути.
        <br>
        <br>
        При <u>равномерном</u> (<i>с постоянной скоростью</i>) движении путь L может быть найден по формуле:
    </p>
    $$L=\nu\cdot t$$
    <p>
        где: <i>v</i> – скорость тела, <i>t</i> – время в течении которого оно двигалось. При решении задач по кинематике перемещение обычно находится из
        геометрических соображений. Часто геометрические соображения для нахождения перемещения требуют знания теоремы Пифагора.
    </p>
{% endblock %}